<?xml version="1.0"?>
<web-app>
	<servlet>
		<servlet-name>DataPlatform</servlet-name>
		<servlet-class>
			com.bimoku.dataplatform.service.DataPlatformApplication
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataPlatform</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
